<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cpf.acc.bse.mapper.AccAccountMapper">
    <select id="selectAllAccounts" resultType="cpf.acc.bse.entity.AccAccount">
        SELECT
            account_id,
            account_no,
            account_name,
            account_status,
            balance,
            description,
            created_at,
            updated_at
        FROM acc_account
        ORDER BY account_id
    </select>
</mapper>
