SELECT DISTINCT admin_user_id FROM MBW_USER_ROLE WHERE role_code=:roleCode AND use_yn='Y' AND valid_from <= @NOW@ AND (valid_to IS NULL OR valid_to > @NOW@) UNION SELECT admin_user_id FROM MBW_ADMIN_USER WHERE role_code=:roleCode AND use_yn='Y'
