<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cpf.pfw.mapper.common.logging.TransactionLogMapper">

    <!-- pfw_transaction_log 테이블에 거래 요약 로그를 저장합니다. -->
    <insert id="insertTransactionLog"
            parameterType="cpf.pfw.common.logging.TransactionLogRecord"
            useGeneratedKeys="true"
            keyProperty="logIdx"
            keyColumn="LOG_IDX">
        INSERT INTO pfw_transaction_log (
            LOG_DATE,
            TRANSACTION_ID,
            TRACE_ID,
            SPAN_ID,
            PARENT_SPAN_ID,
            SEQUENCE_NO,
            MODULE_ID,
            MENU_ID,
            BUSINESS_TRANSACTION_ID,
            BUSINESS_TRANSACTION_NAME,
            LOG_TYPE,
            API_VERSION,
            CLIENT_APP_ID,
            CLIENT_VERSION,
            CALLER_SERVICE,
            CALLER_INSTANCE_ID,
            CORRELATION_ID,
            IDEMPOTENCY_KEY,
            LOCALE,
            TIMEZONE,
            REQUEST_TYPE,
            ORIGINAL_CHANNEL_CODE,
            CHANNEL_CODE,
            MEMBER_NO,
            CUSTOMER_NO,
            SCREEN_ID,
            DEVICE_ID,
            CLIENT_REQUEST_TIME,
            WAS_ID,
            SERVER_INSTANCE_ID,
            HOST_NAME,
            PROCESS_ID,
            THREAD_NAME,
            RESERVED_FIELD_1,
            RESERVED_FIELD_2,
            RESERVED_FIELD_3,
            RESERVED_FIELD_4,
            RESERVED_FIELD_5,
            HTTP_METHOD,
            URI,
            CONTROLLER,
            EXECUTION_PACKAGE,
            EXECUTION_CLASS,
            EXECUTION_METHOD,
            EXECUTION_SIGNATURE,
            WORKFLOW_ID,
            WORKFLOW_NAME,
            WORKFLOW_INSTANCE_ID,
            WORKFLOW_STEP_ID,
            WORKFLOW_STEP_NAME,
            WORKFLOW_STATUS,
            WORKFLOW_FAILURE_POLICY,
            COMPENSATION_YN,
            COMPENSATION_TRANSACTION_ID,
            COMPENSATION_TARGET_TRANSACTION_ID,
            COMPENSATION_STATUS,
            PARAMETERS,
            REQUEST_BODY,
            RESPONSE,
            HTTP_STATUS,
            RESPONSE_CODE,
            MESSAGE_CODE,
            MESSAGE_CONTENT,
            ERROR_MESSAGE,
            ERROR_CODE,
            EXTERNAL_MESSAGE,
            INTERNAL_MESSAGE,
            EXEC_USER,
            CLIENT_IP,
            USER_AGENT,
            START_TIME,
            END_TIME,
            DURATION_MS,
            CREATED_BY,
            CREATED_AT,
            UPDATED_BY,
            UPDATED_AT
        ) VALUES (
            IFNULL(DATE(#{startTime}), CURDATE()),
            #{transactionId},
            #{traceId},
            #{spanId},
            #{parentSpanId},
            #{sequenceNo},
            IFNULL(#{moduleId}, 'N/A'),
            #{menuId},
            #{businessTransactionId},
            #{businessTransactionName},
            IFNULL(#{logType}, 'N/A'),
            #{apiVersion},
            #{clientAppId},
            #{clientVersion},
            #{callerService},
            #{callerInstanceId},
            #{correlationId},
            #{idempotencyKey},
            #{locale},
            #{timezone},
            #{requestType},
            #{originalChannelCode},
            #{channelCode},
            #{memberNo},
            #{customerNo},
            #{screenId},
            #{deviceId},
            #{clientRequestTime},
            #{wasId},
            #{serverInstanceId},
            #{hostName},
            #{processId},
            #{threadName},
            #{reservedField1},
            #{reservedField2},
            #{reservedField3},
            #{reservedField4},
            #{reservedField5},
            #{httpMethod},
            IFNULL(#{uri}, 'N/A'),
            #{controller},
            #{executionPackage},
            #{executionClass},
            #{executionMethod},
            #{executionSignature},
            #{workflowId},
            #{workflowName},
            #{workflowInstanceId},
            #{workflowStepId},
            #{workflowStepName},
            #{workflowStatus},
            #{workflowFailurePolicy},
            IFNULL(#{compensationYn}, 'N'),
            #{compensationTransactionId},
            #{compensationTargetTransactionId},
            #{compensationStatus},
            #{parameters},
            #{requestBody},
            #{response},
            #{httpStatus},
            #{responseCode},
            #{messageCode},
            #{messageContent},
            #{errorMessage},
            #{errorCode},
            #{externalMessage},
            #{internalMessage},
            IFNULL(#{execUser}, 'N/A'),
            #{clientIp},
            #{userAgent},
            #{startTime},
            #{endTime},
            #{durationMs},
            IFNULL(NULLIF(#{execUser}, 'N/A'), 'PFW'),
            NOW(),
            IFNULL(NULLIF(#{execUser}, 'N/A'), 'PFW'),
            NOW()
        )
    </insert>

    <!-- pfw_transaction_log_detail 테이블에 요청/응답 본문 같은 상세 로그를 저장합니다. -->
    <insert id="insertTransactionLogDetail" parameterType="map">
        INSERT INTO pfw_transaction_log_detail (
            LOG_IDX,
            DETAIL_KEY,
            DETAIL_VALUE,
            CREATED_BY,
            CREATED_AT,
            UPDATED_BY,
            UPDATED_AT
        ) VALUES (
            #{logIdx},
            IFNULL(#{detailKey}, 'N/A'),
            IFNULL(#{detailValue}, 'N/A'),
            IFNULL(NULLIF(#{auditUser}, 'N/A'), 'PFW'),
            NOW(),
            IFNULL(NULLIF(#{auditUser}, 'N/A'), 'PFW'),
            NOW()
        )
    </insert>

</mapper>
