SELECT i.center_cut_item_id,
       i.center_cut_execution_id,
       e.tps_limit,
       e.concurrency_limit
  FROM bat_center_cut_item i
  JOIN bat_center_cut_job j
    ON j.center_cut_job_id = i.center_cut_job_id
  LEFT JOIN bat_center_cut_execution e
    ON e.center_cut_execution_id = i.center_cut_execution_id
 WHERE i.item_status IN ('READY', 'RETRY')
   AND j.use_yn = 'Y'
   AND (e.center_cut_execution_id IS NULL OR e.execution_state = 'RUNNING')
 ORDER BY i.center_cut_item_id
 @LIMIT_100@
