SELECT c.center_cut_item_id,
       i.center_cut_execution_id
  FROM bat_center_cut_claim c
  JOIN bat_center_cut_item i
    ON i.center_cut_item_id = c.center_cut_item_id
 WHERE c.claim_status IN ('CLAIMED', 'RUNNING')
   AND c.lease_until < @NOW6@
   AND i.item_status = 'RUNNING'
