SELECT s.*
FROM bat_step_execution s
JOIN bat_execution e ON e.execution_id = s.execution_id
WHERE (? IS NULL OR s.execution_id = ?)
  AND (? IS NULL OR e.job_id = ?)
ORDER BY s.step_execution_id DESC
@LIMIT_PARAM@
