package-lock=true
save-exact=true
strict-peer-deps=true
prefer-offline=true
ignore-scripts=false
legacy-peer-deps=true
install-strategy=nested
registry=https://registry.npmjs.org/
audit=false
fund=false
